.userlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.userlogin form{
    box-shadow: 0px 0px 10px gray;
    padding: 20px 50px;
    border-radius: 20px;
  
}